body {
  /*margin: 50px;*/
}
.input {
  border: black solid 1px;
  height: 35px;
  width: 200px;
  margin: 0px 0 35px 0;



}

.header{
  border-bottom: black solid 1px;
  margin: 30px 80px 50px 80px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 80px 80px 80px;
  justify-content: space-around;

}

.box {
  height: 220px;
  width: 220px;
  border: black solid 1px;
  margin: 10px;
}
